<h1>Receipt Form</h1>

<form action="/receipts" method="POST">

  Item: <input type="text" name="item" value="">
  Quantity: <input type="number" name="quantity" value="">
  Item Price: <input type="number" name="item_price" value="">
  Total Price: <input type="number" name="total_price" value="">
  <input type="submit" name="" value="Create Receipt">

</form>
