<h1>Receipt Form</h1>

<form action="/receipts" method="POST">
Item: <input type="text" name="item" placeholder="E.g: Mee Guring" value="">
Quantity: <input type="number" name="quantity" placeholder="E.g: 2, 3.." value="">
P: <input type="text" name="item" placeholder="E.g: Mee Guring" value="">
Quantity: <input type="number" name="quantity" placeholder="E.g: 2, 3.." value="">
<input type="submit" name="" value="Sign Up">
</form>
ssuer/signup
